html { 
padding : 0 ; 
margin : 0 ; 
}

body { 
background : linear-gradient(to right, black, white) fixed ; 
}

.welcome { 
position : absolute ; 
font-family : arial ; 
color : white ;
font-size : 50px ; 
margin-left: 250px ; 
margin-top : 20px ; 
}

.desc { 
position : absolute ;
color : white ; 
font-family : arial ; 
font-size : 17px ; 
margin-top : 90px ; 
margin-left : 450px ; 
margin-right : 415px ;
text-align : center ;
}

.assignment1 { 
color : white ; 
margin-left : 180px ; 
margin-top : 200px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment1:hover { 
opacity : 0.7 ; 
}

.assignment2part1 { 
color : white ; 
margin-left : 420px ; 
margin-top : 200px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment2part1:hover { 
opacity : 0.7 ; 
}

.assignment2part2 { 
color : white ; 
font-family : arial ;
margin-left : 700px ; 
margin-top : 200px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
}

.assignment2part2:hover { 
opacity : 0.7 ; 
}

.assignment3part1 { 
color : white ; 
margin-left : 900px ; 
margin-top : 200px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment3part1:hover { 
opacity : 0.7 ; 
}

.assignment3part2 { 
color : white ; 
margin-left : 180px ; 
margin-top : 270px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment3part2:hover { 
opacity : 0.7 ; 
}

.assignment3part3 { 
color : white ; 
margin-left : 540px ; 
margin-top : 270px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment3part3:hover { 
opacity : 0.7 ; 
}

.assignment3part4 { 
color : white ; 
margin-left : 900px ; 
margin-top : 270px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment3part4:hover { 
opacity : 0.7 ; 
}

.assignment4part1 { 
color : white ; 
margin-left : 180px ; 
margin-top : 340px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment4part1:hover { 
opacity : 0.7 ; 
}

.assignment4part2 { 
color : white ; 
margin-left : 400px  ; 
margin-top : 340px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment4part2:hover { 
opacity : 0.7 ; 
}

.assignment5part1 { 
color : white ; 
margin-left : 600px  ; 
margin-top : 340px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment5part1:hover { 
opacity : 0.7 ; 
}

.assignment5part2 { 
color : white ; 
margin-left : 880px  ; 
margin-top : 340px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment5part2:hover { 
opacity : 0.7 ; 
}

.assignment6part1 { 
color : white ; 
margin-left : 180px ; 
margin-top : 420px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment6part1:hover { 
opacity : 0.7 ; 
}

.assignment6part2 { 
color : white ; 
margin-left : 770px ; 
margin-top : 420px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment6part2:hover { 
opacity : 0.7 ; 
}

.assignment7 { 
color : white ; 
margin-left : 180px ; 
margin-top : 490px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment7:hover { 
opacity : 0.7 ; 
}


.assignment8 { 
color : white ; 
margin-left : 430px ; 
margin-top : 490px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment8:hover { 
opacity : 0.7 ; 
}

.aboutus { 
color : white ; 
margin-left : 650px ; 
margin-top : 490px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.aboutus:hover { 
opacity : 0.7 ; 
}

.assignment10 { 
color : white ; 
margin-left : 920px ; 
margin-top : 490px ;
text-decoration : none ; 
opacity : 1.0 ;    
position : absolute ; 
font-family : arial ;
}

.assignment10:hover { 
opacity : 0.7 ; 
}